@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./tailwind-components.css";

@import "./liveview.css";


.loading-overlay {
  display: none;
}

.phx-change-loading .loading-overlay {
  display: block;
}

#view-ozfa .view-ozfa-content {
  height: calc(100vh - 2rem);
}

@media all and (display-mode: fullscreen) {
  #view-ozfa .view-ozfa-content {
    height: 100vh;
  }

  .fullscreen-modal-close {
    display: inline;
  }

  .open-full-screen {
    display: none;
  }

  .close-full-screen {
    display: inline-block;
  }
}
