/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

@keyframes btn-click {
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
  animation-name: btn-click;
  animation-duration: 0.1s;
}

.phx-click-loading svg {
  opacity: 0.5;
  transition: opacity 1s ease-out;
  animation-name: btn-click;
  animation-duration: 0.1s;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.loading-overlay {
  display: none;
}

.phx-change-loading .loading-overlay {
  display: block;
}
